.section2-container {
    display: flex;
    padding: 2rem;
    gap: 6rem;
}

@media (max-width: 1024px) {

    .section2-container {
        display: flex;
        gap: 0;
    }
}

@media (max-width: 768px) {
    .section2-container {
        flex-direction: column;
        justify-content: flex-start;
    }
}
